mat-sidenav-container{
    height:100%;
    background-color: white;
}

mat-sidenav mat-sidenav-content {
    padding:16px;
    
}

mat-sidenav{
     background-color: white;
     width: 260px; 
     font-family: montserrat;
}



.avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 15px;
        margin-left: 130px;
    }
    
    form {
        background-color:rgb(238, 244, 253);
        flex-direction: column;
        width: 380px;
        height: 720px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        
        
            /* background-color: rgb(238, 244, 253);
            color: black;
            display: flex;
            justify-content: center;
            width: 350px;
            height: 720px;
         */
    }
    
    h2 {
        font-family: Montserrat;
        margin-left: 50px;
        text-emphasis: initial;
        font-weight: 500;
        font-size: 30px;
    }
    
    #bio {
        height: 100px;
    }
    
    p {
        font-size: 18px;
        font-weight: 800;
    }
    
    input {
        margin-left: 14px;
        padding: 10px;
        margin-bottom: 14px;
        border: .1px solid #deecec;
    }
    
    a {
        text-decoration: none;
        color: blue;
    }
    
    textarea {
        margin-left: 14px;
        resize: none;
        border: .1px solid #deecec;
    }
    
    button {
        margin-left: 120px;
        width: 150px;
        background-color: #637c33;
        color: white;
        /* padding: 5px; */
        font-size: xx-large;
        border: none;
        font-size: x-large;
        flex-direction: center;
        font-family: Montserrat;
        border-radius: 25px;
    }
    
    button:hover {
        background-color: #637c33;
    }
