<form (ngSubmit)="onSubmit()">
    <br>

    <img src="../../../assets/images/github.png" class="rounded-circle avatar center" alt="">
    <a href="#">Change</a>

    <br> <br>

    <h2>Update Your Profile</h2>

    <input type="text" id="name" placeholder="First Name " size="14 " [(ngModel)]="user.firstname " />
    <input type="text" id="name" placeholder="Last Name " size="14 " [(ngModel)]="user.lastname " />
    <br>
    <input type="text" id="contact" placeholder="Phone Number " size="35 " [(ngModel)]="user.contact " /> <br> <br>

    <input id="bio" size="35" placeholder="Bio... " [(ngModel)]="user.bio " /> <br> <br> <br> <br> <br>

    <button type="submit "> Update </button>
</form>