<div class="form-competency" [formGroup]="assessmentForm">
    <div class="form-strand" formGroupName="innovation">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Innovation</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="innovation">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at setting a clear vision for work effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Sets a clear vision for work effectively and consistently</p>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to set a clear vision for work</p> <br>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="innovationComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

    <div class="form-strand" formGroupName="innovation">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Thinking Outside the Box</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="thinkingOutsideTheBox">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at generating new ideas effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Generates new ideas effectively and consistently</p> <br>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to generate new ideas</p> <br>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="thinkingOutsideTheBoxComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

    <div class="form-strand" formGroupName="innovation">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Adaptability</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="adaptability">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at adjusting workstreams effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Adjusts workstreams effectively and consistently</p> <br>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to adjust workstreams</p> <br>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="adaptabilityComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

</div>