<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="full-screen">
        <div class="row" style="margin-top:130px;">
            <img src="./assets/img/moringa-logo.png">
            <h1>Competency Framework</h1>
            <br><br><br>
            <button mat-button  type="submit" ><a href="/login">Log In</a></button> &nbsp;&nbsp;<button mat-button  type="submit"><a href="/signup">Register</a></button>
            <br><br>
            
            
        </div>
        
        <div class="row" style="margin-top: 150px;">
        <p style="color:white; font-family:montserrat; font-size: medium; ">Moringa School © 2020</p>
        </div>
    </div>
</body>

