<div class="form-competency" [formGroup]="assessmentForm">
    <div class="form-strand" formGroupName="criticalThinking">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Data Compilation</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="dataCompilation">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at compiling data effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Compiles data effectively and consistently</p>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to compile data</p>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="dataCompilationComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

    <div class="form-strand" formGroupName="criticalThinking">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Data Analysis</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="dataAnalysis">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at analyzing data effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Analyzes data effectively and consistently</p>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to analyze data</p>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="dataAnalysisComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

    <div class="form-strand" formGroupName="criticalThinking">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Problem Solving</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="problemSolving">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at identifying the most strategic options effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Identifies the most strategic options effectively and consistently</p>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to identify the most strategic options</p> <br>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="problemSolvingComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

    <div class="form-strand" formGroupName="criticalThinking">
        <div class="form-strand-div">
            <h4 class="card-title strand-title">Continual Improvement</h4>
        </div>
        <mat-radio-group fxLayout.gt-xs="row" fxLayout.lt-xs="column" fxLayoutGap="8px" class="form-ratings" formControlName="continualImprovement">
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Excels at reflecting on lessons learned from successes and failures effectively and consistently</p>
                <mat-radio-button value="3">Exemplary</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Reflects on lessons learned from successes and failures effectively and consistently</p>
                <mat-radio-button value="2">Proficient</mat-radio-button>
            </div>
            <div fxFlex.gt-xs="30%" fxFlex.gt-xs="100%">
                <p>Struggles to reflect on lessons learned from successes and failures</p>
                <mat-radio-button value="1">Novice</mat-radio-button>
            </div>
        </mat-radio-group> <br>
        <mat-form-field>
            <input matInput placeholder="comment" formControlName="continualImprovementComment">
        </mat-form-field>
        <button mat-raised-button type="submit" style="background-color: rgba(99, 124, 51);">Submit</button>
    </div>

</div>