<div class="container">
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="createdepartment()" class="createdepartment-form">
            <div class="imagediv">
                <img src="./assets/img/moringa-logo.png">
            </div>
            <br><br>
            <h1>Create Department</h1>

            <div class="form">
                <br>
                <input type="text" placeholder="departmentname" [formControl]="form.controls.departmentname"/>
                <input type="text" placeholder="departmentcode" [formControl]="form.controls.departmentode"/>

                 <br><br>
                <select id="assignManager">
                    <option placeholder="Assign Manager" type='radio' [formControl]="form.controls.assignManager">Assign Manager
                    <option   type="radio" [formControl]="form.controls.assignManager" >Rose Kairu
                    <option  type="radio" [formControl]="form.controls.assignManager">Collin Owino
                </select>

            </div>
            <br><br><br><br><br><br><br><br><br><br>
            <button mat-button  onSubmit="createdepartment()" class="btn btn-primary">Create</button>

        </form>
    </mat-card-content>
</mat-card>
</div>



