
  <mat-card>
    
    <div class="signup-page">
      <div class="logo">
        <img src="/assets/img/moringa.png">
      </div>

        <div class="form">
          
            <h1>Login</h1>
        <br>
        <br><br>
          <form class="login-form">
            <input type="email" placeholder="Email"/>
            <input type="password" placeholder="Password"/>

            <br>
            <br>
            <br>
            <button>Sign In</button>
            <p class="message">Forgot Your Password? <a href="#">reset</a></p>
          </form>
        </div>
      </div>
    </mat-card>
