<body>
    <app-navbar></app-navbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        
        <mat-sidenav-content style="background-color:white;">
            <a (click)="sidenav.open()">Open</a>
            <br>
            <a (click)="sidenav.close()">Close</a>

            <div class="container" style="background-color:rgb(236, 235, 235); margin-left:-200px">
            <div class="container" style="font-family:Montserrat; margin-left:300px;">
                <br><br><br>
                <div style="color:rgba(99, 124, 51, 100); font-weight:bold; font-size: x-large; margin-left:400px;">
                    <p>Moringa Staff</p>
                </div>
                <br><br>
                <table style="width:80%; margin-left:10px; font-size:large;">
                        <tr style="background-color: rgba(99, 124, 51, 100); height: 40px;">
                            <th>Staff ID</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Date Created</th>
                                <th><input type="checkbox" ></th>
                                <span class="checkmark"></span>
                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                        
                        </tr>
                        <tr style="background-color: white; color:black; height: 40px;">
                        
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;12345</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Rose Kairu</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>
                        <tr style="background-color:rgb(178, 197, 250); color:black; height: 40px;" >
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;56789</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Darolle Shizukane</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>
                        <tr style="background-color: white; color:black; height: 40px;">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;11111</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Wanjiku Karanja</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>

                        <tr style="background-color:rgb(178, 197, 250); color:black; height: 40px;" >
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;2222</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Collin Owino</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>

                        <tr style="background-color: white; color:black; height: 40px;">
                        
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;12345</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Rose Kairu</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>
                        <tr style="background-color:rgb(178, 197, 250); color:black; height: 40px;" >
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;56789</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Darolle Shizukane</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>
                        <tr style="background-color: white; color:black; height: 40px;">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;11111</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Wanjiku Karanja</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>

                        <tr style="background-color:rgb(178, 197, 250); color:black; height: 40px;" >
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;2222</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Collin Owino</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Manager</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;30/7/2020</td>
                            <td><input type="checkbox" ></td>
                            <span class="checkmark"></span>
                        </tr>

                </table>

                <br><br><br><br><br><br><br><br><br>
                <p style="font-weight:bold; margin-left:850px; font-size:larger; color:black;">Page 1 <span style="font-size:x-large;">></span></p>
                <br><br>
            </div>
        </div>
            

        </mat-sidenav-content>
    </mat-sidenav-container>
</body>