/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
    color: #326e41;
    background-color: #d4ecd9;
}

.red-snackbar {
    color: #a94442;
    background-color: #f2dede;
}