<body>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        
        <mat-sidenav-content>
            <button (click)="sidenav.open()">Open</button>
            <button (click)="sidenav.close()">Close</button>
            
            <br><br><br>
            <div class="row" id="topcardsrow">
                <div class="column"id="competencycolumn">
                    <div class="container" >
                        <mat-card class="competencycard" id="recommendationprogresscard">
                            <mat-card-content>
                                <h1 id="competencytitle">My Recommendation Progress</h1>
                                
                                <div class="competencyframework">
                                    <br>
                                    <div class="card" >
                                        <div class="row" id="totalcompetency">
                                            <p style="font-size: large; font-weight:bold; color:green; font-family: Montserrat;">&nbsp;&nbsp;Total Competency Score</p>
                                            <div class="column">
                                                    <circle-progress
                                                    [percent]="67"
                                                    [radius]="70"
                                                    [outerStrokeWidth]="10"
                                                    [innerStrokeWidth]="4"
                                                    [outerStrokeColor]="'#78C000'"
                                                    [innerStrokeColor]="'#C7E596'"
                                                    [animation]="true"
                                                    [animationDuration]="300"
                                                    [showSubtitle] = false
                                                    [showUnits] = false
                                                    ></circle-progress>
                                            </div>
                                            <br><br>
                                            <div style="float:left; margin-left:100px;" class="column">
                                                <p style="font-size:large;">This Month<span style= "font-size:x-large; margin-left:150px;"> 3.5⭐️</span></p>
                                                <p style="font-size:large;">Last Month<span style= "font-size:x-large; margin-left:150px;"> 2.7⭐️</span></p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row" id="totalcompetency">
                                            <div class="card">
                                            <div class="column">
                                                <circle-progress
                                                [percent]="50"
                                                [radius]="50"
                                                [outerStrokeWidth]="7"
                                                [innerStrokeWidth]="1"
                                                [outerStrokeColor]="'#0033ff'"
                                                [innerStrokeColor]="'#214eff'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = false
                                                [showUnits] = false
                                                ></circle-progress>
                                                <p style="color:green; font-weight:bold; margin-left:20px">Organisation</p>
                                            </div>
                                            </div>
                                            
                                            <div class="card" style="margin-left:150px;">
                                            <div class="column">
                                                <circle-progress
                                                [percent]="20"
                                                [radius]="50"
                                                [outerStrokeWidth]="7"
                                                [innerStrokeWidth]="1"
                                                [outerStrokeColor]="'#dae600'"
                                                [innerStrokeColor]="'#f2ff36'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = false
                                                [showUnits] = false
                                                ></circle-progress>
                                                <p style="color:green; font-weight:bold; margin-left:20px;">Innovation</p>
                                            </div>
                                            </div>
                                            <div class="card" style="margin-left:300px;">
                                            <div class="column">
                                                <circle-progress
                                                [percent]="50"
                                                [radius]="50"
                                                [outerStrokeWidth]="7"
                                                [innerStrokeWidth]="1"
                                                [outerStrokeColor]="'#0033ff'"
                                                [innerStrokeColor]="'#214eff'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = false
                                                [showUnits] = false
                                                ></circle-progress>
                                                <p style="color:green; font-weight:bold; margin-left:10px;">Communication</p>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="row" id="totalcompetency">
                                            <div class="card">
                                            <div class="column">
                                                <circle-progress
                                                [percent]="90"
                                                [radius]="50"
                                                [outerStrokeWidth]="7"
                                                [innerStrokeWidth]="1"
                                                [outerStrokeColor]="'#f700ff'"
                                                [innerStrokeColor]="'#f94aff'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = false
                                                [showUnits] = false
                                                ></circle-progress>
                                                <p style="color:green; font-weight:bold; margin-left:20px; width:150px;">Critical Thinking</p>
                                            </div>
                                            </div>
                                            
                                            <div class="card" style="margin-left:150px;">
                                            <div class="column">
                                                <circle-progress
                                                [percent]="100"
                                                [radius]="50"
                                                [outerStrokeWidth]="7"
                                                [innerStrokeWidth]="1"
                                                [outerStrokeColor]="'#fa0202'"
                                                [innerStrokeColor]="'#ff3b3b'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = false
                                                [showUnits] = false
                                                ></circle-progress>
                                                <p style="color:green; font-weight:bold; margin-left:20px;"> Punctuality</p>
                                            </div>
                                            </div>
                                            <div class="card" style="margin-left:300px;">
                                            <div class="column">
                                                <circle-progress
                                                [percent]="90"
                                                [radius]="50"
                                                [outerStrokeWidth]="7"
                                                [innerStrokeWidth]="1"
                                                [outerStrokeColor]="'#f700ff'"
                                                [innerStrokeColor]="'#f94aff'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = false
                                                [showUnits] = false
                                                ></circle-progress>
                                                <p style="color:green; font-weight:bold; margin-left:30px;">Creativity</p>
                                            </div>
                                            </div>
                                        </div>
                            
                                    </div>
                                    <br><br>
                                    <button class="reviewsbutton"><a href="/view-reviews">View Reviews</a></button>
                                </div>
                                    <br><br><br><br><br><br><br><br><br><br>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div class="column" id="organisationcolumn">
                    <div class="container">
                        <mat-card class="competencycard" id="taskscard">
                            <mat-card-content>
                                    <h1 id="organisationaltitle">Tasks</h1>
                                    
                                    <div class="competencyframework">
                                        <br>
                                        <div class="competencytitlesize">
                                            <p>Reportee Reviews <span style= "font-size:x-large; margin-left:300px;" id="number">50%</span></p>
                                            <div class="w3-light-grey">
                                                    <div class="w3-green w3-center w3-container" style="height:10px; width: 50%;"></div>
                                            </div>
                                            <br>
                                            <p>Self Assessment <span style="font-size:x-large; margin-left:315px;" id="number">60%</span></p>
                                            <div class="w3-light-grey">
                                                    <div class="w3-blue w3-center w3-container" style="height:10px; width: 60%;"></div>
                                            </div>
                                            <br>
                                            <p>Growth Recommendations<span style="font-size:x-large; margin-left:300px;" id="number">30%</span></p>
                                            <div class="w3-light-grey">
                                                    <div class="w3-red w3-center w3-container" style="height:10px; width: 40%;"></div>
                                            </div> 
                                        <br><br>
                                        </div>
                                    </div>
                                    
                                    <br><br><br><br><br><br><br><br><br><br>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
        
                <br><br><br>
                

                <div class="column" id="organisationcolumn" style="margin-top:25px;">
                    <div class="container">
                        <mat-card class="competencycard" id="selfassessmentcard">
                            <mat-card-content >
                                <br>
                                    <h1 id="organisationaltitle" style="margin-left:20px;">Self-Assessment &nbsp;&nbsp;+</h1>
                                    
                                    <div class="competencyframework">
                                        <br>
                                        <div class="competencytitlesize">
                                            <p>Progress<span style= "font-size:x-large; margin-left:300px;" id="number">50%</span></p>
                                            <div class="w3-light-grey">
                                                    <div class="w3-green w3-center w3-container" style="height:10px; width: 50%;"></div>
                                            </div>
                                            <br><br>
                                            <button class="otherbutton"><a href="/assessment">Continue</a></button>
                                            <br>
                                            <br>
                                            <button class="otherbutton">View All</button>
                                        <br><br>
                                        </div>
                                    </div>
                                    
                                    <br><br><br><br><br><br><br><br><br><br>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
    

            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>
    
<body>


